* {
    box-sizing: border-box;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grille {
    width: 60%;
    max-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 11px;
}

.grid {}

.card_red {
    background-color: red;
    height: 211px;
    grid-column: 1/3;
}

.card_orange {
    background-color: orange;
    height: 211px;
}

.card_green {
    height: 248px;
    background-color: green;
}

.nested {
    grid-column: 2/4;
    display: grid;
    width: 100%;
    gap: 10;
}

.card_blue {
    background-color: blue;
    height: 110px;
}

.spc {
    margin: 14px;
}